@media screen and (max-width: 1140px) {
  .navbar {
    position: relative; 
  }
  .menu{
    display: none;
  }
  .logo {
    margin: 0;
    text-align: center;
  }
  .header {
    padding-top: 50px;
  }
  .headLine {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }
  .headLine p {
    text-align: center;
  }
  .img-headLine {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }
  .card {
    width: 100%;
  }
}